* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: normal;
  font-size: 16px;
  line-height: 1.43;
  color: #484848;
  background-color: #fff;
}

button:focus {
  outline:0;
}

.Booking {
  padding-left: 8px;
  position: relative;
  min-height: 1px;
}

.BookingForm {
  position: absolute;
  /* left: 40px; */
  top: 24px;
  outline:0;
  /* position: relative; */
  /* height: calc(100vh - 20px); */
}

@media (min-width: 768px) {
  .BookingForm {
    left: 40px;
  }
}

.BookingFormOutline {
  padding: 0 24px;
  width: 326px;
  /* height: 462px; */
  position: absolute;
  top: 0;
  left:0;
  right:0;
  /* margin: 0 auto; */
}

.BookingFormCloseButton {
  visibility: visible;
}

@media (min-width: 480px) {
  .BookingFormOutline {
    border: 1px solid #e4e4e4;
  }
  .BookingFormCloseButton {
    visibility: hidden;
  }
}

.BookingFormInnerOutline {
  margin-top: 16px;
  margin-bottom: 24px;
}

.BookingFormHeader {
  width: 326px;
  height: 65px;
  border-bottom: 1px solid #e4e4e4;
}

.Guests {
  cursor: pointer;
  padding: 8px;
  width: 308px;
  height: 22px;
  border: 1px solid #e4e4e4;
  display: flex;
  justify-content: space-between;
}

.Guests:hover, .Checking:hover {
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.Guests svg {
  align-self: center;
  justify-self: flex-end;
  margin-right: 7px;
}

.Checking {
  width: 326px;
  height: 40px;
  border: 1px solid #e4e4e4;
}

.Checking {
  display: inline-flex;
  align-items: center;
  /* position: relative; */
  width: 326px;
  height: 40px;
}

#arrow {
  height: 24px;
  width: 24px;
  display: inline-block;
  fill: currentcolor;
}

#checkin, #checkout {
  text-align: left;
  cursor: text;
  border: none;
  margin: 0 15px;
  width: 118px;
  height: 24px;
  font-size: 16px;
  color: rgb(117, 117, 117);
}

#guests {
  border: none;
  margin-left: 7px;
}

#checkin:focus, #checkout:focus, #guests:focus {
  background-color: rgb(153, 237, 230);
  color: rgb(0, 122, 135);
}

.BookingFormButtonDiv {
  width: 326px;
  margin-top: 20px;
}

.BookingFormButton {
  font-weight: 800;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 22px;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  background: rgb(255, 90, 95);
  border-color: transparent;
  color: #ffff;
  cursor: pointer;
}

.BookingFormButton:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
}

.BookingFormButton:active {
  transform: translateY(0px);
  box-shadow: 0 3px 6px rgba(0,0,0,.2);
}

.BookingFormButton span {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding: 22px 10px;
  height: 22px;
  /* font-weight: 500; */
  color: #ffffff;  
}

.BookingFormHeaderPrice {
  line-height: 10px;
  height: 28px;
}

.BookingFormHeaderStars {
  height: 20px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33333em;
  display: inline-flex;
  align-items: center;
}

.Price {
  overflow-wrap: break-word;
  font-size: 22px;
  font-weight: 800;
  line-height: 1.44444em;
  color: rgb(72, 72, 72);
}

.Stars {
  display: inline-block;
  width: 50px;
  height: 10px;
  background-image: url(../images/stars.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.Dates {
  margin-top: 16px;
  margin-bottom: 8px;
}

.DatesText, .GuestsText {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333333333em;
  color: #484848;
}

.BookingFormMessage {
  margin-top: 12px;
  height: 20px;
  word-wrap: break-word;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333333333em;
  color: #484848;
  text-align: center;
}

.BookingFormFooter {
  display: grid;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #e4e4e4;
}

.BookingFormAttention {
  grid-row: 1;
  grid-column: 1;
  width: 275px;
  word-wrap: break-word;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28571em;
  color: rgb(72, 72, 72);
}

.BookingFormViewed {
  grid-row: 2;
  grid-column: 1;
  width: 275px;
  word-wrap: break-word;
  margin-top: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28571em;
  color: rgb(72, 72, 72);
}

.Lightbulb {
  align-self: top;
  grid-row: 1 / span 2;
  grid-column: 2;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(../images/lightbulb.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.DetailsHide {
  visibility: hidden;
  height: 0;
  margin-top: 15px;
}

.DetailsShow {
  visibility: show;
  margin-top: 15px;
  display: grid;
  align-items: center;
  grid-template-columns: 320px 6px;
  grid-template-rows: 35px 35px 35px 35px 35px;
  grid-auto-flow: row;
  font-size: 14px;
  font-weight: 400;
  color: #484848;
}

.DetailsItem {
  grid-column: 1;
  line-height: 35px;
  border-bottom: 1px solid #e4e4e4;
  position: relative;
}

.DetailsPrice {
  justify-self: end;
  grid-column: 2;
  line-height: 35px;
  border-bottom: 1px solid #e4e4e4;
}

.DetailsPrice:before, .DetailsTotalPrice:before {
  content:'$';
}

.DetailsTotal {
  font-weight: 600;
}

.DetailsTotalPrice {
  justify-self: end;
  font-weight: 600;
  grid-column: 2;
  line-height: 35px;
}

.CleaningFee, .ServiceFee, .Taxes {
  z-index: 1;
  height: 15px;
  width: 15px;
  fill: rgb(72, 72, 72);
  margin-left: 4px;
  cursor: pointer;
}

.CleaningFee > * {
  pointer-events: none;
}
.ServiceFee > * {
  pointer-events: none;
}
.Taxes > * {
  pointer-events: none;
}

.CleaningFee:hover, .ServiceFee:hover, .Taxes:hover {
  fill: rgb(0, 132, 137);
}

.DetailsInfo {
  position: absolute;
  right: 44px;
  line-height: 1.2857142857142858em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px;
  border: 1px solid rgb(235, 235, 235);
  width: 240px;
  padding: 24px;
  display: block;
  font-size: 14px;
  background-color: #fff;
  z-index: 1;
}

.ShowItem {
  visibility: show;
}

.HideItem {
  visibility: hidden;
}