.GuestModal {
  width: 294px;
  height: 300px;
  padding: 10px 16px 0 16px;
  border: 1px solid #e4e4e4;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px, rgba(0, 0, 0, 0.07) 0px 0px 0px 1px;
  background-color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 16px;
  z-index: 1;
  position: absolute;
  top: 234px;
  left:0;
  right:0;
  left:22.5px;
  /* margin: 0 auto; */
  border-top: 2px solid rgb(0, 132, 137) !important;
}

.Show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.Hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 500ms, opacity 300ms;
}

.GuestRow {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 44px 1fr;
  grid-row-gap: 18px;
  align-items: center;
}

.textAdults, .textChildren, .textInfants {
  grid-column: 1 / span 3;
  grid-row: 1;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.375em;
}

.age, .MaxGuestsText {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2857142857142858em;
}

.incrementAdults, .incrementChildren, .incrementInfants, .decrementAdults, .decrementChildren, .decrementInfants {
  cursor: pointer;
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(0, 132, 137);
  background: transparent;
  border-width: 1px;
  height: 32px;
  width: 32px;
  color: rgb(0, 132, 137);
  justify-self: center;
  text-align: center;
  vertical-align: middle;
  line-height: 32px;
  font-size: 14px;
}

.incrementAdults, .incrementChildren, .incrementInfants {
  grid-column: 6;
  grid-row: 1;
}

.incrementAdults:disabled, .incrementChildren:disabled, .incrementInfants:disabled, 
.decrementAdults:disabled, .decrementChildren:disabled, .decrementInfants:disabled {
  border-color: rgba(0, 132, 137, 0.3);
  color: rgba(0, 132, 137, 0.3);
}

.countAdults, .countChildren, .countInfants {
  grid-column: 5;
  grid-row: 1;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.375em;  
}

.decrementAdults, .decrementChildren, .decrementInfants {
  grid-column: 4;
  grid-row: 1;
}

.CloseButtonRow {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 44px 1fr;
  align-items: end;
}

.CloseButton {
  grid-column: 6;
  color: #008489;
  border:none; 
  padding:0;
  font: inherit;
  display: block;
  cursor: pointer;
  text-decoration: none;
  justify-self: center;
  line-height: 22px;
}

.CloseButton:hover {
  text-decoration: underline;
}

.MaxGuestsTextRow {
  margin-top: 10px;
}
