* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: normal;
  font-size: 16px;
  line-height: 1.43;
  color: #484848;
  background-color: #fff;
}

.App {
  margin: 0;
}

.BookingFormOutline {
  border: 1px solid #e4e4e4;
  padding: 0 24px;
  width: 326px;
  height: 543px;
  margin: 0 auto;
}

.BookingFormInnerOutline {
  margin-top: 16px;
  margin-bottom: 24px;
}

.BookingFormHeader {
  width: 326px;
  height: 65px;
  border-bottom: 1px solid #e4e4e4;
}

.Checking, .Guests {
  /* width: 148px; */
  height: 40px;
  border: 1px solid #e4e4e4;
}

.Checking {
  display: inline-flex;
  align-items: center;
  position: relative;
  width: 326px;
  height: 40px;
}

#arrow {
  height: 24px;
  width: 24px;
  display: inline-block;
  fill: currentcolor;
}

#checkin, #checkout {
  all:unset;
  cursor: text;
  border: none;
  margin: 0 15px;
  width: 118px;
  height: 24px;
  font-size: 16px;
  color: rgb(117, 117, 117);
}

#checkin:focus, #checkout:focus {
  background-color: rgb(153, 237, 230);
}

.BookingFormButton {
  width: 278px;
  padding: 10px 22px;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  background: rgb(255, 90, 95);
  border-color: transparent;
  color: #ffff;
}

.BookingFormButton span {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding: 22px 10px;
  height: 22px;
  /* font-weight: 500; */
  color: #ffffff;  
}

.BookingFormHeaderPrice {
  line-height: 10px;
  height: 28px;
}

.BookingFormHeaderStars {
  height: 20px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33333em;
  display: inline-flex;
  align-items: center;
}

.Price {
  overflow-wrap: break-word;
  font-size: 22px;
  font-weight: 800;
  line-height: 1.44444em;
  color: rgb(72, 72, 72);
}

.Stars {
  display: inline-block;
  width: 50px;
  height: 10px;
  background-image: url(../images/stars.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.Dates, .Guests {
  margin-top: 16px;
  margin-bottom: 8px;
}

.DatesText, .GuestsText {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333333333em;
  color: #484848;
}